.project {
    margin: 10px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    width: 340px;
    height: 420px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 4px 4px 5px rgb(150, 150, 150);
    padding: 5px;
}
.project img {
    width: 175px;
    height: 175px;
    box-shadow: 4px 4px 5px rgb(175, 175, 175);
    margin-bottom: 5px;
}

.project p {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.project a {
    font-size: 14px;
}

/* .project:hover {
    margin-left: -10px;
    margin-top: -40px;
    width: 391px;
    height: 460px;
    padding: 5.75px;
}

.project:hover img {
    width: 200px;
    height: 200px;
    margin-bottom: 5.75px;
}

.project:hover p {
    font-size: 16px;
}

.project:hover a {
    font-size: 16px;
} */

@media only screen and (max-width: 1110px) {
    .project {
    width: 250px;
    height: 315px;
    }

    .project p {
        display: none;
    }

    /* .project:hover {
        width: 287.5px;
        height: 325px;
        margin-left: -7px;
        margin-top: -10px;
    }

    .project:hover img {
        width: 200px;
        height: 200px;
        margin-bottom: 5.75px;
    }
    
    .project:hover a {
        font-size: 16px;
    } */
}