#contactJumbo {
    margin-top: 50px;
    text-align: center;
    background-color: #c2a2fd;
    padding-bottom: 30px;
    padding-top: 40px;
    padding-left: 20px;
    -webkit-clip-path: polygon(1% 0%, 100% 5%, 100% 80%, 0% 100%);
    clip-path: polygon(1% 0%, 100% 5%, 100% 80%, 0% 100%);
}

#contactJumbo a {
    color: black;
}