* {
    font-family: 'Manrope', sans-serif;
}

nav { 
    color: white;
    background-image: linear-gradient(to bottom right, rgb(92, 175, 161), rgba(0,0,0,0.2)); 
    font-size: 20px;
}

a {
    color:white;
}

.titleCard {
    background-image: linear-gradient(to bottom right, rgb(92, 175, 161), rgba(0,0,0,0.2)); 
    margin-top: 30px;
    color: white;
    padding: 10px;
    border: none;
}

.infoCard {
    background-color: #6dccbc;
    border: none;
    padding: 20px;
}